.single-feature{
    background: #FFFBF6;
}
section.new_product_area.section_gap_top.section_gap_bottom_custom{
    padding-top: 0;
    background: #880000;
}
.main_title{
    padding-top: 40px;
    color: white;
    background: #880000;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.main_title h2 {
    color: white;
}
.main_title p {
    color: white;
}
.new_product_area .row{
    background: #FFFFFF !important;
}
.blog-area .main_title{
    background: white !important;
    color: black !important;

}
.blog-area .main_title p{
    color: black !important;
}
.blog-area .main_title span{
    color: black !important;
}

.footer-area{
    background:#880000 !important; ;
}